@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}
